.earning-stars {
    background-color: #f3f1e7;
    padding: 1rem 10rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 7px 9px -7px #00000024;
  }
  
  .conttainer {
    max-width: 1450px;
    margin: 0 auto;
  }
  
  .title-box {
    font-size: 15px;
    max-width: 705px;
    margin: 0 auto 20px;
    text-align: center;

  }
  
  .main-title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 16px;
    color: #444;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  .earning-grid {
    display: flex;
    justify-content: space-between;
  }
  
  .earning-info {
    flex: 17 1 17%;
    max-width: 100%;
  }
  
  .earning-rate {
    font-size: 1.50rem;
    font-weight: 550;
    margin-bottom: -0.5rem;
  }
  
  .star {
    color: #000;
    font-size: 1rem;
    margin-left: 0.25rem;
  }
  
  .earning-type {
    font-size: 1rem;
    color: #333;
  }
  
  .earning-method-box {
    flex: 1 1 40%;
    max-width: 369px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 200px;
  }
  
  .earning-flex {
    display: flex;
    align-items: flex-start;
  }
  
  .earning-image {
    margin-right: 1rem;
    flex-shrink: 0;
    text-align: center;
  }

  .earnigimg {
    width: 110px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    max-width: 100%;
  }
  
  .earning-description h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1px;
  }
  
  .earning-description p {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.5;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .earning-grid {
      flex-direction: column;
    }
  
    .earning-method-box {
      flex: 1 1 100%;
    }
  }
  