.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; /* Color de fondo oscuro */
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
  }
  
  .left-menu {
    display: flex;
    align-items: center;
    margin-left: 120px;
    
  }
  
  .right-menu {
    display: flex;
    align-items: center;
    margin-right: 200px;
  }
  
  .menu a {
    color: #000000; /* Texto blanco */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .menu a:hover {
    color: #008248; /* Color verde */
  }
  
  .logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 20px;
    margin-left: 30px;
  }
  
.oval-button.sign-in {
    font-weight: 600;
  line-height: 1.2;
  display: inline-block;
  padding: 7px 16px;
  border-radius: 30px; /* Ajusta el radio para que se vea como un ovalo */
  background-color: #fff; /* Color de fondo del botón Sign in */
  color: #000; /* Color del texto del botón Sign in */
  text-decoration: none;
  border: solid 1px;
  margin-left: 20px; /* Espaciado entre los botones */
  
}

.oval-button.sign-in:hover {
    border-color: #0a0c0b;
  background-color: #f1f8f6; /* Color de fondo del botón Sign in al pasar el ratón */
}



  
  .oval-button.join-now {
    font-weight: 600;
    line-height: 1.2;
    display: inline-block;
    padding: 7px 16px;
    border-radius: 30px; /* Ajusta el radio para que se vea como un ovalo */
    background-color: #000; /* Color de fondo del botón Join now */
    color: #fff; /* Color del texto del botón Join now */
    text-decoration: none;
    margin-left: -10px; /* Espaciado entre los botones */
  }
  
  .oval-button.join-now:hover {
    background-color: #333; /* Color de fondo del botón Join now al pasar el ratón */
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }