body, html {
    height: 100%;
}

/* The hero image */
.heroimage {
  height: 810px;
  background-image:  url("../assets/xlhero.png");
  background-color: #d4e9e2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: -60%;
  background-position-y: 35px;
}

/* Place text in the middle of the image */
.herotext {
    text-align: left;
    margin-left: auto;
    font-size: 20px;
    height: 750px;
    padding: 250px;
}

.oval-button.join-now-reg {
    font-weight: 600;
    line-height: 1.2;
    display: inline-block;
    padding: 7px 16px;
    border-radius: 30px; /* Ajusta el radio para que se vea como un ovalo */
    background-color: #008248; /* Color de fondo del botón Join now */
    color: #fff; /* Color del texto del botón Join now */
    text-decoration: none;
    margin-left: -10px; /* Espaciado entre los botones */
  }
  
  .oval-button.join-now:hover {
    background-color: #207c51; /* Color de fondo del botón Join now al pasar el ratón */
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 600 !important;
    font-weight: 400;
  }

  .text-x1.cr {
    color: black;
  }

  .cr {
    color: black!important;

  }


   




