.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 50px;
    justify-content: center;
    margin-left: 240px;
  }
  
  .section {
    text-align: center;
    max-width: 300px;
  }
  
  img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .top-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
  }

 .Steps-container {
    height: 500px;
 }