/* Estilo base de las pestañas */

.topTabs {
  background-color: #f1f8f6;
}

.tab {
  display: flex;
  justify-content: center;
  background-color: #f1f8f6;
  margin-top: 0px;
  position: relative;
}

.top-text-tab h2 {
  font-size: 28px;
  margin-bottom: 25px;
  background-color: #f1f8f6;
  margin: 0;
  padding: 48px 0px 48px;
}

/* Estilo para las pestañas activas */
.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #d4e9e2;
  box-shadow: inset 0 7px 9px -7px #00000024;
}

.img {
  max-width: 200px;
  margin-right: 20px;
}

.imgtab {
  margin-right: 60px; 
  width: 24rem;
}

.text-content {
  max-width: 346px;
  
}

/* Barra verde animada (solo una barra) */
.active-bar {
  transition: left 0.3s ease, width 0.3s ease; /* Animación suave de la barra verde */
  position: absolute;
  bottom: -9px;
  height: 6px;
  background-color: #008248;
}

/* Estilo para las pestañas (sin duplicación de barra verde) */
.tab .tablinks {
  padding: 20px 30px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 27px;
  cursor: pointer;
}

.tablinks.active {
 
  position: relative;
}

span {
  color: #cba258;
  font-size: 15px;
}

.small-symbol::before {
  content: "\00AE"; /* Código Unicode del símbolo ® */
  font-size: 60%;
  vertical-align: top;
}
