/* Style the tab */
.tab {
    overflow: hidden;
   
    background-color: #f1f8f6;
    display: flex;
    justify-content: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  

  
 
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color:#d4e9e2;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .img {
    width: 300px;
  }